# MySQLサーバーの設定
[mysqld]
character_set_server = utf8mb4
collation_server = utf8mb4_general_ci

# MySQLクライアントの設定
[client]
default-character-set = utf8mb4

# MySQLコマンドラインクライアントの設定
[mysql]
default-character-set = utf8mb4
